body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
//  color: #000;
  color: green;
  text-decoration: none;
  &:visited {
    color: darkgreen;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

input[type="text"], textarea{
  width: 100%;
  height: 30px;
  border: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="submit"]{
  font-size: 13px;
  text-align: center;
  width: 50px;
  height: 30px;
  border: 1px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

table{
  width: 100%;
  border-collapse: collapse;
}

tr{
  text-align:left;
  border-top: 1px solid;
  border-color: darkgray;
  height: 40px;
}

$td-class-index: (title:"35%", body:"35%", link-show:"10%", link-edit:"10%", link-destroy:"10%");
@each $td-classname, $td-width in $td-class-index
{
  td.#{$td-classname}
  {
    width: #{$td-width};
    a {
      color: green;
      text-decoration: none;
    }

  }
}
